<li class="nav-item">
    <a class="nav-link active" href="{{ "about/" | absURL }}">About Us</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "categories/upcoming" | absURL }}">Upcoming Events</a>
</li><li class="nav-item">
    <a class="nav-link active" href="{{ "categories/past" | absURL }}">Past Events</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "songs/" | absURL }}">Songs We Play</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "categories/contact" | absURL }}">Contact Us</a>
</li>
